PA1/*/* linguist-documentation
PA2/*/* linguist-documentation
PA3/*/* linguist-documentation
final/*/* linguist-documentation
PA1/podem/* linguist-documentation=false
PA2/podem/* linguist-documentation=false
PA3/podem/* linguist-documentation=false
final/podem/* linguist-documentation=false
